.form {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.form label {
  margin-top: 10px;
}

.form button {
  margin-top: 20px;
  align-self: center;
}

.form input,
.form button {
  padding: 5px;
}

.error {
  color: red;
  font-size: 12px;
}
